@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #333;
}

.chess-main {
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chess-board {
    
    background-image: url("assets/img/200.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: clamp(100px, 74vw, 500px);
    height: clamp(100px, 78vh, 500px);
    position: relative;
}

.number {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 2.85rem;
    left: 4px;
    top: 3px;
}

.letter {
    position: absolute;
    bottom: 2px;
    right: 0;
    display: flex;
    gap: 3.47rem;
}

.number div,
.letter div {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(7px, 2vw, 14px);
    font-weight: 500;
    color: #597938;
}

.letter div {
    color: #fff;
}

.letter div:nth-child(even) {
    color: #597938;
}

.number div:nth-child(even) {
    color: #fff;
}

.chess-board .chess-cell {
    width: 100%;
    height: 100%;
    position: relative;
}

.chess-cell img {
    width: 100%;
    height: 100%;
    cursor: grab;
    position: absolute;
    top: 0;
    left: 0;  
}

.chess-cell:empty {
    cursor: default;
}

button {
    padding: 1% 3%;
    margin-top: 25px;
    background-color: rgb(204, 195, 224);
    border-radius: 5px;
    background-color: #739552;
    transition: .2s ease;
    border: none;
}

button:hover {
    box-shadow: 0px 0px 25px 5px #739552;
    background-color: #597938;
}
button:hover img {
    animation: rotate 0.6s ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
